# dependencies
node_modules/
client/node_modules/
server/node_modules/

# environment
.env
.env.*

# build
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vite cache
.vite/

# vscode
.vscode/

# OS
.DS_Store
Thumbs.db